<div class="row">
<div class="col-md-12 text-center">
    <h1><strong>404</strong></h1>
    <br/>
    <img src="/images/obi-wan.jpg" class="img-responsive img-thumbnail" />
    <br/>
    <br/>
    <strong>This is not the page you're looking for!</strong>
</div>